---
import Cart from "./Cart.astro";
---

<div>
  <section class="w-full mb-8 mt-4">
    <div class="w-[90%]">
      <div class="w-full mt-12">
        <h1 class="capitalize text-4xl">
          all the best residences <br /> from us for you
        </h1>
        <div class="flex justify-between mt-3">
          <p>
            We have developed a total of <!--{propertynumber}-->150+ properties
          </p>
          <button
            class="border-[1.5px] border-black p-2 px-4 -mt-2 rounded-full"
            >Let's see our property - <!--Icon using Astro-->
          </button>
        </div>
      </div>
    </div>
  </section>

  <div class="w-[100%] items-center justify-center">
    <div
      class="w-[90%] mx-auto grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-1"
    >
      <Cart
        name="Villa"
        price="30"
        para="We have developed a total of 150+ properties"
        ratting="5.0"
      />
      <Cart
        name="Villa"
        price="30"
        para="We have developed a total of 150+ properties"
        ratting="5.0"
      />
      <Cart
        name="Villa"
        price="30"
        para="We have developed a total of 150+ properties"
        ratting="5.0"
      />
      <Cart
        name="Villa"
        price="30"
        para="We have developed a total of 150+ properties"
        ratting="5.0"
      />
      <Cart
        name="Villa"
        price="30"
        para="We have developed a total of 150+ properties"
        ratting="5.0"
      />
      <Cart
        name="Villa"
        price="30"
        para="We have developed a total of 150+ properties"
        ratting="5.0"
      />
    </div>
  </div>
</div>
