<section class="w-full">
  <div class="bg-slate-800 bg-cover py-[5rem] px-12">
    <h1 class="text-[#616363] text-4xl capitalize">
      Interested to Build your home?
    </h1>
    <h2
      class="text-white mt-4 text-4xl underline decoration-1 underline-offset-[8.5px]"
    >
      <a href="#">contact@Wika.agency</a>
    </h2>

    <!-- Horizontal Ruler -->
    <div class="w-[92%] h-[2px] my-12 bg-[#616363]"></div>

    <div class="flex flex-row justify-between">
      <!-- Left Section -->
      <div>
        <h2 class="text-white text-3xl font-medium">Garment</h2>
        <p class="mt-2 text-sm text-[#d9d9d9]">
          Hats off to Garment! Their professionalism <br />
          and commitment shine through
        </p>

        <div class="text-white mt-12 space-y-3 text-sm">
          <p><!--Icon--> Surabaya, Indonesia</p>
          <p><!--Icon--> Phone: (+62) 4444-4444</p>
        </div>
      </div>
      <!--End of Left Section-->

      <!-- Right Section -->
      <div class="flex gap-16">
        <!-- Sub Column-1 -->
        <div>
          <h2 class="text-white font-medium mb-3">ABOUT</h2>
          <p class="text-[#d9d9d9] text-sm mb-2">
            <a href="#">Our Story</a>
          </p>
          <p class="text-[#d9d9d9] text-sm mb-2">
            <a href="#">Our People</a>
          </p>
          <p class="text-[#d9d9d9] text-sm mb-2">
            <a href="#">Contact Us</a>
          </p>
          <p class="text-[#d9d9d9] text-sm mb-2"><a href="#">FAQs</a></p>
          <p class="text-[#d9d9d9] text-sm mb-2"><a href="#">Blog</a></p>
        </div>

        <!-- Sub Column-2 -->
        <div>
          <h2 class="text-white font-medium mb-3">SERVICES</h2>
          <p class="text-[#d9d9d9] text-sm mb-2">
            <a href="#">property</a>
          </p>
          <p class="text-[#d9d9d9] text-sm mb-2">
            <a href="#">Home Development</a>
          </p>
          <p class="text-[#d9d9d9] text-sm mb-2">
            <a href="#">Interior Design</a>
          </p>
          <p class="text-[#d9d9d9] text-sm mb-2">
            <a href="#">Custom Furniture</a>
          </p>
        </div>

        <!-- Sub Column-3 -->
        <div>
          <h2 class="text-white font-medium mb-3">EVENTS</h2>
          <p class="text-[#d9d9d9] text-sm mb-2">
            <a href="#">Property Art Gallery</a>
          </p>
          <p class="text-[#d9d9d9] text-sm mb-2">
            <a href="#">Full Calender</a>
          </p>
        </div>

        <!-- Sub Column-4 -->
        <div>
          <h2 class="text-white font-medium mb-3">RESOURCES</h2>
          <p class="text-[#d9d9d9] text-sm mb-2">
            <a href="#">Furniture</a>
          </p>
          <p class="text-[#d9d9d9] text-sm mb-2">
            <a href="#">Agents</a>
          </p>
          <p class="text-[#d9d9d9] text-sm mb-2">
            <a href="#">Career</a>
          </p>
          <p class="text-[#d9d9d9] text-sm mb-2">
            <a href="#">Property Services</a>
          </p>
          <p class="text-[#d9d9d9] text-sm mb-2">
            <a href="#">Latest News</a>
          </p>
        </div>
      </div>
      <!--End of Right Section-->
    </div>
  </div>
</section>
