<div class="flex justify-center items-center mt-4">
  <div class="w-[80%] flex justify-between items-center">
    <div>
      <h2 class="capitalize text-3xl">
        find the most <br /> comfortable residence <br /> near You Now
      </h2>
      <div class="mt-4">
        <button
          class="capitalize rounded-md bg-[#cef37f] px-2 pb-1 mx-auto font-medium"
          >nearest residence</button
        >
        <button
          class="capitalize rounded-md border-black border-[1px] px-2 pb-1 mx-auto font-medium"
          >view property</button
        >
      </div>
    </div>

    <img src="image/home.jpg" alt="Map image" width="400" height="200" />
  </div>
</div>
