---
import SwipperCard from "./SwipperCard.astro";
---

<div class="swiper mt-2 mb-2">
  <div
    class="swiper-header flex flex-col items-center justify-center lg:text-6xl md:text-5xl sm:text-3xl text-2xl"
  >
    <p class="">See Other People <span class="text-gray-400">Who Have</span></p>
    <p class=""><span class="text-gray-400">Lived In </span>Our Residence</p>
    <p></p>
  </div>

  <!-- swiper card section -->
  <div>
    <SwipperCard name="John Doe" experience="lorem" rating="4.5" />
  </div>
</div>
