---
const tabsName = [
  {
    id: 1,
    tab: "Home",
  },
  {
    id: 2,
    tab: "Interior Design",
  },
  {
    id: 3,
    tab: "Kitchen",
  },
  {
    id: 4,
    tab: "Swimming Pool",
  },
  {
    id: 5,
    tab: "Bedroom",
  },
];

const tabsContent = [
  {
    id: 1,
    tab: "image/home.jpg",
  },
  {
    id: 2,
    tab: "image/Interior.jpg",
  },
  {
    id: 3,
    tab: "image/Kitchen.jpg",
  },
  {
    id: 4,
    tab: "image/Swimming.jpg",
  },
  {
    id: 5,
    tab: "image/home.jpg",
  },
];
---

<div class="flex flex-col justify-center items-center w-full mb-4 px-4">
  <!-- Text Section -->
  <div class="text-center mb-6 mt-5">
    <p class="text-3xl md:text-4xl lg:text-6xl font-semibold">
      See More Clearly With
    </p>
    <p class="text-3xl md:text-4xl lg:text-6xl font-semibold">
      The <span class="text-green-400">360°</span>
      <span>Camera</span>
    </p>
  </div>

  <!-- Tabs Section (Placeholder for Future Tabs) -->
  <div
    class="flex lg:flex gap-5 mt-10 mb-5 p-1 lg:rounded-full md:rounded-full rounded-xl font-medium drop-shadow-[0_1.5px_rgba(255,255,255,0.25)] bg-slate-300"
  >
    <div class="grid sm:grid-cols-3 lg:grid-cols-5 md:grid-cols-5 md:px-5">
      {
        tabsName.map((tab, id) => (
          <button class="tabs py-2 px-4 rounded-full hover:bg-slate-100 transition-colors">
            {tab.tab}
          </button>
        ))
      }
    </div>
  </div>

  <!-- Image -- render image according to tabs-->
  {
    tabsContent.map((tab) => (
      <div class="w-full flex justify-center items-center">
        {tab.id === 2 ? (
          <img
            src={tab.tab}
            alt="home"
            class="w-full max-w-6xl h-auto object-cover rounded-xl"
          />
        ) : (
          <div />
        )}
      </div>
    ))
  }
</div>

<!-- js script -->
<script>
  const tabs = document.querySelectorAll(".tabs");
  // remove active class from all buttons and add active class on current button

  tabs.forEach((tab) => {
    tab.addEventListener("click", () => {
      tabs.forEach((tab) => {
        tab.classList.remove("active");
      });
      tab.classList.add("active");
    });
  });

  // make a one variable that can show the number which tab is active
</script>

<style>
  .active {
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
</style>
