<div class="flex flex-col justify-center items-center w-full mb-4 px-4">
  <!-- Text Section -->
  <div class="text-center mb-6">
    <p class="text-3xl md:text-4xl lg:text-5xl font-semibold">
      See More Clearly With
    </p>
    <p class="text-3xl md:text-4xl lg:text-5xl font-semibold">
      The <span class="text-green-400">360°</span>
      <span>Camera</span>
    </p>
  </div>

  <!-- Tabs Section (Placeholder for Future Tabs) -->
  <div class="flex justify-center mb-4">
    <p
      class="text-sm md:text-lg lg:text-xl bg-gray-200 text-gray-800 p-2 rounded-md"
    >
      Tabs are pending...
    </p>
  </div>

  <!-- Image Section -->
  <div class="relative w-full overflow-hidden">
    <img
      src="image/home.jpg"
      alt="Map image"
      class="w-full h-48 md:h-72 lg:h-[600px] object-cover"
    />
  </div>
</div>
