---
const tabsName = [
  "Home",
  "Interier Design",
  "Kitchen",
  "Swimming Pool",
  "Bedroom",
];
---

<div class="flex flex-col justify-center items-center w-full mb-4 px-4">
  <!-- Text Section -->
  <div class="text-center mb-6 mt-5">
    <p class="text-3xl md:text-4xl lg:text-6xl font-semibold">
      See More Clearly With
    </p>
    <p class="text-3xl md:text-4xl lg:text-6xl font-semibold">
      The <span class="text-green-400">360°</span>
      <span>Camera</span>
    </p>
  </div>

  <!-- Tabs Section (Placeholder for Future Tabs) -->
  <div
    class="hidden lg:flex gap-5 mt-10 mb-5 mx-auto w-max bg-richblack-800 text-richblack-200 p-1 rounded-full font-medium drop-shadow-[0_1.5px_rgba(255,255,255,0.25)]"
  >
  
  </div>

  <!-- Image Section -->
  <div class="relative w-full overflow-hidden">
    <img
      src="image/home.jpg"
      alt="Map image"
      class="w-full h-48 md:h-72 lg:h-[600px] object-cover"
    />
  </div>
</div>
